
1. Here we want to concatenate all D type and S type files into two different pandas data frame to use it for fastText embedding generation
2. Once S type and D type embeddings are generated, we can take their average as the actual embedding vector for each

In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

In [10]:
dataloc = "data"
carhacking = "Car_Hacking_Challenge_Dataset_rev20Mar2021"
prelim = "0_Preliminary"
training = "0_Training"
filename_0 = "Pre_train_D_0.csv"
filename_1 = "Pre_train_D_1.csv"
filename_2 = "Pre_train_D_2.csv"
filename_3 = "Pre_train_S_0.csv"
filename_4 = "Pre_train_S_1.csv"
filename_5 = "Pre_train_D_2.csv"

In [12]:
import os

prelim_train_dir = os.path.join("..", dataloc, carhacking, prelim, training)
csv0 = os.path.join(prelim_train_dir, filename_0)
csv1 = os.path.join(prelim_train_dir, filename_1)
csv2 = os.path.join(prelim_train_dir, filename_2)
csv3 = os.path.join(prelim_train_dir, filename_3)
csv4 = os.path.join(prelim_train_dir, filename_4)
csv5 = os.path.join(prelim_train_dir, filename_5)

In [7]:
df = pd.read_csv(csv0)
df.head()

      Timestamp Arbitration_ID  DLC                     Data   Class
0  1.597708e+09            260    8  06 25 05 30 FF CF 71 55  Normal
1  1.597708e+09            329    8  4A C5 7E 8C 31 2D 01 10  Normal
2  1.597708e+09            38D    8  00 00 49 00 90 7F FE 01  Normal
3  1.597708e+09            420    8  50 1E 00 C8 FC 4F 6A 00  Normal
4  1.597708e+09            421    8  FE 07 00 FF E3 7F 00 52  Normal

In [9]:
df.Class.nunique()

1

In [13]:
df = pd.read_csv(csv1)
df.head()

      Timestamp Arbitration_ID  DLC                     Data   Class SubClass
0  1.597760e+09            153    8  20 A1 10 FF 00 FF 50 1F  Normal   Normal
1  1.597760e+09            220    8  13 24 7F 60 05 FF BF 10  Normal   Normal
2  1.597760e+09            507    4              08 00 00 01  Normal   Normal
3  1.597760e+09            356    8  00 00 00 80 16 00 00 00  Normal   Normal
4  1.597760e+09            340    8  FC 03 00 E4 B7 21 FA 3C  Normal   Normal

In [14]:
df.Class.nunique()

2